@{
    ViewBag.Title = "Fortune Teller Magic";
}

<div class="jumbotron">
    <h1>Fortune Teller</h1>
    <p class="lead">Create user information for yourself and view the details to see your fortune.</p>
    <p>@Html.ActionLink("View all Users or Create a New User", "Index", "Customers")</p>
</div>